INLINE_ARRAY_TYPE_1_AND_KEY_WITH___SPACES[0]=': [ value ] 1'
INLINE_ARRAY_TYPE_1_AND_KEY_WITH___SPACES[1]='value 2'
KEY_VALUE='this is a test'
KEY_WITH_EMPTY_VALUE=
ARRAY_TYPE_1_ARRAY[0]=value 1
ARRAY_TYPE_1_ARRAY[1]='  value 2'
ARRAY_TYPE_1_ARRAY[2]='[value 3]'
ARRAY_TYPE_1_ARRAY[3]=# comments
ARRAY_TYPE_1_ARRAY[4]=value 4'
TEST123=asdds
TEST=|
ROOT_1_KEY_KEY_KEY="   value"
ROOT_1_ARRAY=
ROOT_1_DATA_1=value 1
ROOT_1_DATA_2="value \"escaped\" \n\n 2"
ROOT_1_DATA_3='value 3'
ROOT_1_MULTILINE_THIS=is a
ROOT__2_KEY='value'
ROOT__2_MULTI_LINE=|
### HIERONDER MEE VERDER
ROOT__2_MULTILINE_2_ARRAY[0]='value 1'
ROOT__2_MULTILINE_2_ARRAY[1]='value 2'
