DIT_IS_EEN_ARRAY[0]=': [value] 1'
DIT_IS_EEN_ARRAY[1]='value 2'
DIT_IS_EEN_ARRAY[0]=value 1
DIT_IS_EEN_ARRAY[1]='  value 2'
DIT_IS_EEN_ARRAY[2]='[value 3]'
DIT_IS_EEN_ARRAY[3]=# comments
DIT_IS_EEN_ARRAY[4]=': [value 4'
